.body {
  display: flex;
  color: var(--fontColor);
}

.page {
  background-color: var(--backgroundColor);
  flex-grow: 2;
  width: 80vw;
  height: 100vh;
}

.page-close{
  width: calc(100vw - 59px);
}