@mixin align($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    width: 100%;
}
@mixin base(){
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
}

@mixin hidden(){
    @include base();
    background-color: inherit;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        width: 50%;
        height: 65%;
        position: relative;
        background-color: var(--backgroundColor);
      }
      p{ 
        font-size: 25px; 
        }
      hr{
          width: 90%;
          background-color: white;
      }
      .icon-close{
          position: absolute;
          right: 15px;
          top: 15px
      }

      form{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 90%;
          p{
            align-self: flex-start;
            padding: 0px 0 20px 20px;
            height: 1%;
            color:rgba(255,255,255, 0.7);
            font-size: 17px;
          }
          .wifi-name{
           @include align(row)
          label{
              font-size: 20px;
          }
          input{
              font-size: 20px;
              border: none;
              margin-left: 10px;
              border-radius: 4px;
              height: 100%;
              width: 50%;
          }
        }
          
          .wifi-password{
            @include align(row);
            label{
                font-size: 20px;
            }
            input{
                font-size: 20px;
                border: none;
                margin-left: 80px;
                border-radius: 4px;
                height: 100%;
                width: 50%;
            }
              
          }
          .wifi-password-confirmation{ 
            @include align(row);
            padding-top: 20px;
            label{
                font-size: 20px;
            }
            input{
                font-size: 20px;
                border: none;
                margin-left: 54px;
                border-radius: 4px;
                height: 105%;
                width: 50%;
            }
          }
          .checkbox{
              display: flex;
              flex-direction: row;
              justify-content:center;
              width: 95%;
              margin-top: 10px;
              height: 30%;

              p{
                  padding: 10px 0 0 20px;
                  font-size:20px;
                  width: 100%;
                  color: var(--fontColorComponents);
                  padding-bottom: 30px;
              }
              div{
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                align-self: flex-end;
              }
            .switch {
                position: relative;
                display: inline-block;
                width: 48px;
                height: 20px;
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
              }
            }
              
              .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .1s;
                transition: .1s;
              
              &::before {
                position: absolute;
                content: "";
                height: 14px;
                width: 14px;
                left: 4px;
                bottom: 3px;
                background-color: white;
                -webkit-transition: .1s;
                transition: .1s;
                }
                }
              
              input:checked + .slider {
                background-color: green;
              }
              
              input:focus + .slider {
                box-shadow: 0 0 1px green;
              }
              
              input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
              }
              
              .slider.round {
                border-radius: 40px;
              }
              
              .slider.round:before {
                border-radius: 50%;
              }
          }
          #text-wifi-hidden{
            margin-top: -30px;
            color: var(--fontColorComponents);
            opacity: 0.7;
          }
      }
}
.modal-open {
  @include hidden();
  animation: blur 1s backwards, blur-background 1s backwards;
  backdrop-filter: blur(10px) brightness(50%);
}
.modal-close {
  @include hidden();
  pointer-events: none;
  backdrop-filter: blur(0px) brightness(100%);
  animation: blur-background-out 1s backwards, blur-out 0.5 backwards;
  div{
    animation: blur-out 0.5s backwards;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
  }
}
.submit-button{
  font-size: 25px;
  align-self: center;
  border: none;
  color: white;
  background-color: var(--buttonColor);
  border-radius: 8px;
  width: auto;
  padding: 10px 10px 10px 10px;
}
@keyframes blur {
  0%, 50%{ 
    filter: blur(10px); 
  }
  50%, 100% {
    filter: blur(0px); 
  }
}
@keyframes blur-out{
  0%, 50% { filter: blur(0px);}
  50%, 100%{ filter: blur(10px);}
}
@keyframes blur-background{
  0%,50%{backdrop-filter: blur(0px) brightness(100%);}
  50%, 100%{backdrop-filter: blur(10px) brightness(50%);}
}
@keyframes blur-background-out{
  0%,50%{backdrop-filter: blur(10px) brightness(50%);}
  50%, 100%{backdrop-filter: blur(0px) brightness(100%);}
}