@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

.telaContainer{
    width: 100vw;
    height: 90vh;   
    background-color:var(--backgroundColor) ;
}

.parteSuperior{
    height: 65%;
    background-color: lawngreen;
}
.espacoGrafico{
    text-align: center;
    align-items: center;
    margin: 0;
    color: magenta;
}

.parteInferior{
    height: 25%;
    display: flex;
    flex-direction: row;
      
}

.timeChronometer{
    flex-direction: column;
    width: 30%;
}
.time{
    width: 100%;
    align-items: center;
    color: var(--fontColor);
    font-family: "Rubik" sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10%;

}

.informations{
    width: 30%;
    font-family: "Rubik" sans-serif;
    font-weight: 300;
    color: var(--fontColor);
   font-size: 10px;
   align-items: center;
   flex-direction: row;
   text-align: center;


}
.informationsTitle{
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10%;

}

.statusBar{
    width: 40%;
    flex-direction: column;
    color: #E0E0E0;
}
.status{
    width: 100%;
    align-items: center;
    color: var(--fontColor);
    font-family: "Rubik" sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
   
}

