.container {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
}
.container h4 {
  align-items: center;
  align-self: center;
}

.base {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.upper-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 80px;
}

.lower-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 80px;
}

.automatic-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(44, 51, 151, 0.3);
  width: 38vw;
  height: 34vh;
}
.automatic-section .upper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--fontColorContrast);
  font-size: 35px;
  background-color: var(--buttonAlternative);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border-width: 0;
}
.automatic-section .upper-button:focus {
  outline: none;
  background-color: var(--buttonHover);
}
.automatic-section .upper-button p {
  padding-left: 25px;
}
.automatic-section .sub-button {
  top: 200px;
  align-items: center;
  background-color: inherit;
  border: none;
  padding: 10px 10px 10px 10px;
}

.manual-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(44, 51, 151, 0.3);
  width: 38vw;
  height: 34vh;
}
.manual-section .upper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--fontColorContrast);
  font-size: 35px;
  background-color: var(--buttonAlternative);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border-width: 0;
}
.manual-section .upper-button:focus {
  outline: none;
  background-color: var(--buttonHover);
}
.manual-section .upper-button p {
  padding-left: 25px;
}
.manual-section .sub-button {
  top: 200px;
  align-items: center;
  background-color: inherit;
  border: none;
  padding: 10px 10px 10px 10px;
}

.wakeup-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(44, 51, 151, 0.3);
  width: 38vw;
  height: 34vh;
}

.wakeup-section .upper-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--fontColorContrast);
  font-size: 35px;
  background-color: var(--buttonAlternative);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border-width: 0;
}

.wakeup-section .upper-button:focus {
  outline: none;
  background-color: var(--buttonHover);
}

.wakeup-section .upper-button p {
  padding-left: 25px;
}

.wakeup-section .sub-button {
  top: 200px;
  align-items: center;
  background-color: inherit;
  border: none;
  padding: 10px 10px 10px 10px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(44, 51, 151, 0.3);
  width: 38vw;
  height: 34vh;
}
.section .upper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--fontColorContrast);
  font-size: 35px;
  background-color: var(--buttonAlternative);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border-width: 0;
}
.section .upper-button:focus {
  outline: none;
  background-color: var(--buttonHover);
}
.section .upper-button p {
  padding-left: 25px;
}
.section .sub-button {
  top: 200px;
  align-items: center;
  background-color: inherit;
  border: none;
  padding: 10px 10px 10px 10px;
}
