.header-container {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--headerBackground);
}

.date {
  font-weight: 300;
  font-size: 25px;
  color: var(--fontColorComponents);
  margin-left: 3%;
}

.logo {
  fill: white;
  color: white;
  width: 250px;

}
.power {
  background-color: var(--headerBackground);
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px;
  margin-top: 1px;
}
.power:hover {
  background-color: var(--headerBackground);
}
.dropdown {
  position: fixed;
  left: 92%;
  top: 7%;
  background-color: var(--headerBackground);
  width: 105px;
  border: 1px solid black;
  border-radius: 5px;
}

.dropdown button {
  color: white;
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  text-decoration: none;
  width: 100%;
}
.dropdown button:hover {
  opacity: 60%;
}

svg.logo {
  margin-right: 60px;
  filter: invert(100%);
}
