.header-container{
    width: 100%;
    height: 5vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--headerBackground);
}

.date{
  font-weight: 300;
  font-size: 20px;
  color: var(--fontColorComponents);
  margin-left: 3%;
}

.buttons{
    margin-top:1px;
    margin-right: 1%; 
}
.logo{
  fill: white;
  color: white;
  width: 100px;
  
}
.power {
  background-color: var(--headerBackground);;
  border: none;
  outline: none;
}

.power:hover {
  opacity: 0.8;
}
svg.logo{
  margin-right: 60px;
  filter: invert(100%)
}
