.header-container {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--headerBackground);
}

.date {
  font-weight: 300;
  font-size: 20px;
  color: var(--fontColorComponents);
  margin-left: 3%;
}

/* .buttons {
  margin-top: 1px;
  margin-right: 1%;
} */
.logo {
  fill: white;
  color: white;
  width: 150px;
}
.power {
  background-color: var(--headerBackground);
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px;
  margin-top: 1px;
}
.power:hover {
  background-color: var(--headerBackground);
}
.dropdown {
  position: fixed;
  left: 92%;
  top: 7%;
  display: inline-block;
}
.dropdown-child {
  display: block;
  background-color: var(--headerBackground);
  min-width: 100px;
}
.dropdown-child a {
  color: white;
  padding: 20px;
  margin-left: 10px;
  text-decoration: none;
  display: block;
}
/* .dropdown:hover .dropdown-child {
  display: block;
} */

svg.logo {
  margin-right: 60px;
  filter: invert(100%);
}
