.body {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: "Rubik" sans-serif;
  font-weight: 500;
}

.drawer-content {
  width: 20vw;
  height: 100vh;
  background-color: var(--headerBackground);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.drawer-content-close {
  width: calc(10px * 2 + 40px);
}

.app-bar {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;

  color: #E0E0E0;
  font-size: 35px;
  font-weight: bold;
  padding: 15px 10px;

  display: flex;
  align-items: center;
}

.app-bar svg {
  height: 40px;
  width: 40px;
  padding-right: 10px;
}

.menu {
  width: 100%;
  /* height: 100%; */
  flex-grow: 2;
}

.link-menu {
  width: 100%;
  height: 50px;
  padding: 15px 10px;

  color: #E0E0E0;
  font-size: 20px;
  text-decoration: none;

  display: flex;
  align-items: center;
}
.link-menu svg {
  height: 40px;
  width: 40px;
  padding-right: 10px;
}

.monitoramento-opcoes {
  font-size: 20px;
  color: #E0E0E0;

  padding-left: calc(10px * 2 + 40px);
  padding-bottom: 15px;
}
.radio-group input {
  border: none;
  outline: none;

  height: 20px;
  width: 20px;
  margin: 0;
  margin-right: 15px;
}

.radio-group input:checked {
  background-color: red;
}

.outras-infos {
  color: #E0E0E0;
  padding: 15px 20px 30px;
}
.outras-infos h1 {
  font-size: 20px;
}
.outras-infos p {
  font-size: 16px;
  font-weight: normal;
}
.outras-infos span {
  font-size: 16px;
  font-weight: bold;
}

.vazia{
  height: 100vh;
}